ul {

  list-style-type: none;
  margin-right: 10;
  padding: 10;
  row-gap:10px;
  width: 300px;
  border:2px solid gray;

  background-color: #a5a3a3;
}

li {
  border: 2px solid gray;
  display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link and background color on hover */
li:hover {
  text-decoration:none;
  background-color:rgb(39, 127, 243);
  color: white;
}
                        